/*----------------CONTAINER-------------*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr;
}
/*---------HEADER--------*/


/*------------------FORM----------------*/

/*----------------VALIDATION-------------*/
.error {color:red;}


